- if signed_in?
  %li.art-list-signed
    .row
      .art-title-signed.col-xs-12.col-sm-3.col-md-4.col-lg-4
        = raw truncate(article.header, length: 35)
      .art-id-signed.col-xs-12.col-sm-3.col-md-3.col-lg-3
        ID статьи: 
        = article.id
        %br
        Дата создания:
        = article.created_at.strftime("%D")
      .art-btns-signed.col-xs-12.col-sm-6.col-md-5.col-lg-5
        = button_to "#{ article.status == true ? "В черновики" : "Опубликовать" }", public_article_path(article.id), method: "put", class: "#{ true == article.status ? "btn btn-warning" : "btn btn-success" }"
        = button_to "Изменить", edit_article_path(article.id), method: "get", class: "btn btn-info"
        - if current_user.admin?
          = button_to "Удалить", article, method: "delete", data: {confirm: 'Уверены?'}, class: "btn btn-danger"
- else
  - if article.status == true 
    %li
      .art-prev
        %h1.title-art-prev= link_to "#{article.header}", article_path(article.id)
        %p.content-art-prev= raw article.content.first(180)
        - if article.created_at.strftime("%D") != Time.now.strftime("%D")
          %span.time-prev= article.created_at.strftime("%H:%M %d/%m/%y")
        - else
          %span.time-prev= article.created_at.strftime("%H:%M")



