= form_for @article do |f|
  = render partial: 'layouts/error_messages', locals: {zone: @article}
  Header:
  = f.text_field :header, placeholder: "Min 10 symb.", class: "field-edit-header"
  %br
  = f.bootsy_area :content, placeholder: "Min 10 symb.", class: "field-edit-content"
  %br
  Title:
  = f.text_field :title, class: "field-edit-title"
  %br
  SEO description:
  = f.text_field :seo_description, class: "field-edit-seo-desc"
  %br
  SEO keywords:
  = f.text_field :seo_keywords, class: "field-edit-seo-keys"
  %br

  .art-edit-sidebar
    Статус:
    = f.select :status, options_for_select([["Опубликовать", "true"], ["Черновик", "false"]])
    %br
    %br
    Время создания:
    %br
    = f.text_field :created_at
    %br
    %br
    Дата создания:
    %br

    %br
    %br
    %br
    Действие: 
    - if @article.new_record?
      = f.submit "Создать"
    - else
      = f.submit "Сохранить"