= form_for @user do |f|
  = render partial: 'layouts/error_messages', locals: {zone: @user}
  %p.form-label Login: (min. 5 symbols)
  = f.text_field :name
  %p.form-label Email:
  = f.text_field :email
  %p.form-label Password: (min. 6 symbols)
  = f.password_field :password
  %p.form-label Password again:
  = f.password_field :password_confirmation
  %br
  - if @current_user.admin?
    .user-role
      - if @user.admin?
        = f.check_box(:admin, {}, false, true)
        Снять привелегии администратора
      - else
        = f.check_box(:admin, {}, true, false)
        Назначить администратором
  -if @user.new_record?
    = f.submit "Создать", class: "form-button"
  -else
    = f.submit "Обновить", class: "form-button"