= form_for @user do |f|
  = render partial: 'layouts/error_messages', locals: {zone: @user}
  = f.text_field :name, placeholder: "Login"
  (min. 5)
  %br
  = f.text_field :email, placeholder: "Email"
  %br
  = f.password_field :password, placeholder: "Password"
  (min. 6)
  %br
  = f.password_field :password_confirmation, placeholder: "Password again"
  %br
  %br
  -if @user.new_record?
    = f.submit "Создать"
  -else
    = f.submit "Обновить"