.row
  .content{class: "container #{@show_sidebar ? "col-xs-12 col-sm-8 col-md-8" : "col-xs-12 col-sm-12 col-md-12"} alert alert-info"}

    = yield

    - flash.each do |key, value|
      = value
      
  - if !signed_in? && @show_sidebar == true 
    .sidebar.container.col-xs-12.col-sm-3.col-sm-offset-1.col-md-3.col-md-offset-1.alert.alert-success
      %h4 Самое популярное:

      - @top_5.sample(5).each do |art|
        = link_to "#{truncate(art.title, length: 45)}", art
        %br
        %br
