<!DOCTYPE html>

<head>
=csrf_meta_tags
=stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
=javascript_include_tag "application", "data-turbolinks-track" => true
</head>
<body>

%header
  %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
    .container
      .navbar-header
        %button{ type: "button", class: "navbar-toggle collapsed", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav
          %li
            = link_to 'Home', root_path
            %span.sr-only (current)
          %li= link_to 'Articles', articles_path
          %li= link_to 'About', about_path
          %li= link_to 'Users', users_path
          %li= link_to 'Articles', articles_path
          %li= link_to 'About', about_path
          %li= link_to 'Users', users_path



  -if signed_in?
    =link_to 'Новая статья', new_article_path
    =link_to "Sign out", signout_path, method: "delete"
    %p Залогинен!
  -else
    =link_to 'SignUp', new_user_path
    =link_to 'SignIn', new_session_path

.row
  .content.container.col-md-8.alert.alert-info

    =yield

    -flash.each do |key, value|
      =value

  .sidebar.container.col-md-3.alert.alert-success
    ad;kgdas;g




.footer.panel.panel-default
  .panel-footer Panel footer




</body>
</html>