!!! 5

%head
 = csrf_meta_tags
 = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
 = javascript_include_tag "application", "data-turbolinks-track" => true
 %title= yield(:title)

- if !signed_in? && current_page?(root_path)
 %h1.h1-main-page Что почитать о Rails
 %p.header-explanation *демонстрационное наполнение


%body
 = render "layouts/header"
 = render "layouts/content"
 = render "layouts/footer" if !signed_in?
